:root {
    --primary-color: #011826;
}

body {
    /* background-color: var(--primary-color); */
    font-family: 'Roboto', sans-serif;
}

.text-own-primary {
    color: var(--primary-color);
}

